.d-title{
  background-color: #ccc;
  height: 20px;
  margin: 5px 0;
}
.d-wrap{
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}
.d-author, .d-pub{
  background-color: #ccc;
  height: 20px;
  width: 25%;
}
.d-i{
  width: 50%;
}
.d-text{
  background-color: #ccc;
  height: 10px;
  width: 100%;
  margin: 5px 0;
}
