<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

  <title>Vue-WWWID</title>

  <% for (var chunk in htmlWebpackPlugin.files.css) { %>
  <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>" as="style">
  <% } %>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
  <% } %>

  <link rel="dns-prefetch" href="https://res.cloudinary.com/">
  <link rel="dns-prefetch" href="https://storage.googleapis.com/">

  <meta name="language" content="en-EN" />
  <meta name="author" content="Irfan Maulana" />

  <meta name="description" content="PWA with Vue + Workbox for WWWID RSS Feed" />

  <meta property="og:title" content="Vue-WWWID">
  <meta property="og:description" content="PWA with Vue + Workbox for WWWID RSS Feed" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@maz_ipan" />
  <meta name="twitter:title" content="Vue-WWWID">
  <meta name="twitter:description" content="PWA with Vue + Workbox for WWWID RSS Feed" />

  <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">

  <meta name="theme-color" content="#4DBA87">

  <link rel="apple-touch-icon" href="assets/icons/apple-touch-icon-152x152.png">
  <link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#4DBA87">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Vue-WWWID">

  <link rel="manifest" href="manifest.json">

  <!-- INLINE STYLE FOR CRITICAL CSS -->
  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      color: #fff;
      background-color: #000;
      font-size: 100%;
    }

    a {
      color: #4DBA87;
      text-decoration: none;
    }

    a:hover {
      color: #4DBA87;
    }

    h1 {
      margin: 0;
      margin-left: .3em;
      font-size: 1.5rem;
      color: #000;
    }

    .header,
    .footer {
      width: 100%;
      background-color: #4DBA87;
      color: #000;
      display: flex;
      align-items: center;
      position: fixed;
      left: 0;
    }

    .header {
      justify-content: space-between;
      height: 60px;
      top: 0;
    }

    .footer {
      justify-content: center;
      height: 50px;
      font-size: 1rem;
      bottom: 0;
    }

    .content {
      margin: 70px 0;
    }

    /*GLOBAL CSS*/
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      border: 0;
      border-bottom: 1px solid #e2d6d6;
      padding: 1em .3em;
    }

    .c::after {
      content: "";
      clear: both;
      display: table;
    }

    .a-img img {
      width: 120px;
      height: auto;
      margin-right: 1em;
    }

    .a-img img[lazy=loading] {
      max-height: 200px;
    }

    .a-img .dummy {
      max-height: 200px;
    }

    .a-title {
      margin: .5em 0 1em;
      font-size: 1.3rem;
      font-weight: 500;
      color: #4dba87;
    }

    .a-wrap {
      margin-bottom: 1em;
    }

    .a-flex {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 1em;
    }

    .a-author,
    .a-pub {
      font-size: .9rem;
    }

    .a-author {
      float: left;
    }

    .a-pub {
      float: right;
    }

    .a-content {
      font-size: 1rem;
      width: 100%;
    }

    .a-cat {
      color: #4dba87;
      border: 1px solid #4dba87;
      border-radius: 2px;
      padding: 5px;
      line-height: 2.2;
      margin: 0 5px 10px 0;
      font-size: .9rem;
    }

    pre {
      padding: .5em;
      overflow: auto;
      max-width: 100%;
      color: #fff;
    }

    /*LOADING CSS*/
    .d-title{
      background-color: #fff;
      height: 20px;
      margin: 5px 0;
    }
    .d-wrap{
      margin-bottom: 1em;
      display: flex;
      justify-content: space-between;
    }
    .d-author, .d-pub{
      background-color: #fff;
      height: 20px;
      width: 25%;
    }
    .d-i{
      width: 50%;
    }
    .d-text{
      background-color: #fff;
      height: 18px;
      width: 100%;
      margin: 5px 0;
    }
    /*APP*/
    .back-ic{
      fill: #000;
      color: #000;
      margin: 0 .5em;
      vertical-align: middle;
      width: 50px;
      height: 50px;
    }
    /*DETAIL PAGE*/
    figure img {
      width: 100%;
      height: auto;
      background-color: #fff;
    }

    figcaption {
      font-style: italic;
      text-align: center;
      color: #fff;
    }
  </style>

</head>

<body>
  <header class="header header-dummy">
    <a href="/vue-wwwid/" alt="Vue-WWWID">
      <h1>Vue-WWWID</h1>
    </a>
    <div>
      <a href="https://github.com/mazipan/vue-wwwid" target="_blank" rel="noopener" alt="Github Link">
        <span class="back-ic">Github</span>
      </a>
    </div>
  </header>

  <noscript>
    <div class="content">
      <p>This page is powered by Vue, but your Javascript was disable.
        <br>Please use the latest browser and enable javascript.</p>
    </div>
  </noscript>

  <div id="app"></div>

  <footer class="footer">
    Copyright © 2018 by Irfan Maulana
  </footer>

  <!-- INLINE PWA FILE -->
  <script>'serviceWorker' in navigator && window.addEventListener('load', () => { navigator.serviceWorker.register('service-worker.js').then(a => { console.log('SW registered: ', a) }).catch(a => { console.log('SW registration failed: ', a) }) });</script>
</body>

</html>
