<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="robots" content="index, follow"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">

  <title>Vue-WWWID</title>

	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
  <% } %>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <!-- <% if(chunk.indexOf('runtime') == -1){ %> -->
      <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
    <!-- <% } %> -->
	<% } %>

  <meta name="language" content="en-EN"/>
  <meta name="author" content="Irfan Maulana"/>

  <meta name="description" content="PWA with Vue + Workbox for WWWID RSS Feed" />

  <meta property="og:url" content="/vue-wwwid/">
  <meta property="og:title" content="Vue-WWWID">
  <meta property="og:description" content="PWA with Vue + Workbox for WWWID RSS Feed" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:creator" content="@maz_ipan"/>
  <meta name="twitter:title" content="Vue-WWWID">
  <meta name="twitter:description" content="PWA with Vue + Workbox for WWWID RSS Feed" />

  <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">

  <meta name="msapplication-TileColor" content="#4DBA87">
  <meta name="msapplication-TileImage" content="assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#4DBA87">

  <link rel="apple-touch-startup-image" href="assets/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Vue-WWWID">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="HandheldFriendly" content="true">

  <link rel="manifest" href="manifest.json">

  <!-- INLINE STYLE FOR CRITICAL CSS -->
  <style>
    body{
      font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
      color: #282828;
      font-size: 100%;
    }
    a{
      color: #4DBA87;
      text-decoration: none;
    }
    a:hover{
      color: #4DBA87;
    }
    h1{
      margin: 0;
      margin-left: .3em;
      font-size: 1.5em;
      color: #fff;
    }
    .header, .footer{
      width: 100%;
      background-color: #4DBA87;
      color: #fff;
      display: flex;
      align-items: center;
      position: fixed;
      left: 0;
    }
    .header{
      justify-content: space-between;
      height: 60px;
      top: 0;
    }
    .footer{
      justify-content: center;
      height: 50px;
      font-size: .5em;
      bottom: 0;
    }
    .ic{
      fill: #fff;
      margin-right: .3em;
      width: 30px;
      height: 30px;
    }
  </style>

</head>
<body>
  <noscript><p>This page is powered by Vue, but your Javascript was disable.<br>Please use the latest browser and enable javascript.</p></noscript>

  <header class="header header-dummy">

    <a href="/vue-wwwid/">
      <h1>Vue-WWWID</h1>
    </a>

    <div>

        <a href="https://github.com/mazipan/vue-wwwid"
        target="_blank" rel="noopener">
          <svg viewBox="0 0 512 512" class="ic"><path d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9 1.4.3 2.6.4 3.8.4 8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1-8.4 1.9-15.9 2.7-22.6 2.7-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1 10.5 0 20-3.4 25.6-6 2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8 0 0 1.6-.5 5-.5 8.1 0 26.4 3.1 56.6 24.1 17.9-5.1 37-7.6 56.1-7.7 19 .1 38.2 2.6 56.1 7.7 30.2-21 48.5-24.1 56.6-24.1 3.4 0 5 .5 5 .5 12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5 1.2 0 2.6-.1 4-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"></path></svg>
        </a>

        <a href="/vue-wwwid/#/about/">
          <svg viewBox="0 0 512 512" class="ic"><path d="M256 48C141.2 48 48 141.2 48 256s93.2 208 208 208 208-93.2 208-208S370.8 48 256 48zm21 333h-42v-42h42v42zm-.2-63h-41.6c0-67 62.4-62.2 62.4-103.8 0-22.9-18.7-41.7-41.6-41.7S214.4 192 214.4 214h-41.6c0-46 37.2-83 83.2-83s83.2 37.1 83.2 83.1c0 52-62.4 57.9-62.4 103.9z"></path></svg>
        </a>

    </div>
  </header>

  <div id="app"></div>

  <footer class="footer">
    Copyright © 2018 by Irfan Maulana
  </footer>

</body>
</html>
